body
{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #000000;
}

div
{
    background-color: #f08080;
    width: 80%;
    padding: 1em;
    text-align: left;
    border: 1px solid;
    margin: 0 auto;
}

.signature_text
{
    text-align: center;
  }